div#home {
    
    .hero {
        background-color: #F7F4EB;
        height: 530px;

        div {
            
            padding-top: 168px;

            h2 {
                color: #9A9A9A;
                text-transform: uppercase;
                font-weight: bold;
            }

            h1 {
                padding: 28px 0px 38px 0px;
                color: #506849;
            }
        }
    }
}